[data-game-wrapper] {
    background-color: rgb(223, 202, 202);
    border-radius: 25px;
    padding: 50;
    width: 90vw;
    height: 90vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}